.sql-editor {
  font-family: "Courier New", Courier, monospace;
  height: 300px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  padding: 10px;
}

.sql-editor:focus {
  outline: none;
}
