.container {
  max-width: 21.875rem;
  width: 20rem;
  .title {
    text-align: center;
  }
  .list {
    font-family: "Courier New", Courier, monospace;
    padding: 1.063rem 0px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.368627451);
    text-align: center;
    &:hover {
      background-color: rgb(211, 220, 230);
      cursor: pointer;
    }
  }
}
