.container {
  &__content {
    &__text-editor {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-top: 10px;
      &--left {
        display: flex;
        flex-direction: column;
        flex: 5;
        .sql-title {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        &--query-actions {
          align-self: flex-end;
          margin-top: 14px;
        }
        &--table-output {
          overflow-y: auto;
          &--info {
            font-weight: 400;
            color: #9f9f9fbd;
            text-align: center;
            font-size: 26px;
          }
        }
      }
      &--right {
        flex: 2;
        max-width: 450px;
      }
    }
  }
}
